/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;    
  border-color: #1861ac;
}

.driverSelection {
    margin:5px 0px 5px 0px;
    padding:10px 20px 10px 20px;
    border :solid 1px green;
    border-radius:6px;
}

.driverSelection select {
    margin-left:10px;
}

.navbar-nav .nav-link {
    border-radius: 5px;
}

.navbar-nav .nav-link.active {
    color: blue !important;
    background-color: #f2f2f2;
}
